body{
    margin: 0;
    padding: 0;
    color: #ffc;
	font-family: sans;
}
h1, h2{
	color: #ff1;
}
i{
	font-size: 3.5vw !important;
}
a{
	text-decoration: none;
	outline: none;
	color: inherit;
}
.mobile{
	display: block;
	font-size: 4.5vw;
}
.mobile i{
	font-size: 8vw !important;
	margin: 0 2vw;
}
.mobile > img{
	object-fit: cover;
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
}
.navbar{
	overflow:hidden;
	background-color: #000;
	z-index: 1;
	position: fixed;
	top: 0;
	width: 100%;
}
.navbar a{
	width: 32%;
	line-height: 4;
	text-align: center;
	display: inline-block;
}
.navbar .active{
	border-bottom: 3px solid #ff1;
}
.content{
	background-color: #000;
	padding: 5%;
	opacity: 0.92;
}
.intro{
	padding: 36vh 0vw;
}
.works{
	text-align: center;
	border-top: 1px solid;
}
.item{
	margin:20% 0;
}
.footer{
	text-align: center;
}
.footer ul{
	padding: 0;
	width: 100%;
}
.footer li{
	list-style-type: none;
	display: inline-block;
}
.wrap{
    overflow: hidden;
}
.wrap > img{
	object-fit: cover;
    height: 100%;
    width: 100%;
    top: 12%;
    left: 0;
    position: fixed;
    z-index: -1;
}
.wrap .nav{
	width: 100%;
    position: fixed;
    top: 0;
    padding: 1% 1.5%;
    background-color: #000;
    z-index: 1;
    box-shadow: -1px 1px 12px 0px #101010;
}
.wrap .nav .logo{
	color: #ff1;
    font-weight: bold;
    font-size: 3vw;
    padding: 0% 2.5%;
}
.nav span :hover{
	color: #ff1;
	transition: 2s ease;
}
.wrap .mask{
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0.9;
}
.wrap .mask .text{
    top: 48vh;
    position: absolute;
    font-size: 2vw;
    left: 55vw;
}
.wrap .mask .text h1{
	margin: 0;
}
.wrap .mask .text p{
	font-size: 1.7vw;
}
.terms{
	background-color: #000;
	/*height: auto;*/
	overflow: hidden;
	padding: 2% 10%;
}
.terms b{
	color: #ff1;
}
.slide-up {
	height: 600px;
	position: relative;
}
.slide-up p{

 /* Apply animation to this element */	
 	animation: slide-up 5s ease-out;
}
/* Move it (define the animation) */
@keyframes slide-up {
 	0%   { 
 	transform: translateY(200%); 
 	opacity: 0;		
 	}
 	100% { 
 	transform: translateY(0%);
 	opacity: 1; 
 	}
}
.talents{
	background-color: #000;
	width: 100%;
	height: 300px;
	overflow: hidden;
	border-top: 2px solid #000;
}
.talents img{
	position: absolute;
	object-fit: cover;
	width: 100%;
	height: 70%;
	opacity: 0.1;
}
.talents ul{
	margin: 0;
    padding: 1% 10% 0% 10%;
    text-align: center;
	position: relative;
}
.talents li{
	list-style-type: none;
	width: 20%;
	margin: 3% auto;
	display: inline-block;
	text-align: center;
	transition: 0.5s ease;
}
.talents li:hover{
	cursor: pointer;
	transform: scale(1.1);
	transition: 0.5s ease;
}
.projects{
	background-color: #000;
	padding: 3% 10% 1% 10%;
	position: relative;
}
.projects h2{
	margin: 0;
	padding: 2% 0;
	text-align: center;
}
.projects .block{
	z-index: 1000;
	width: 100%;
	margin: 0% 0% 5% 0%;
}
.projects h3{
	width: 20%;
    float: left;
    line-height: 3;
    text-align: center;
    margin: 3% 4% 5% 0%;
    border: 3px solid #ff3;
    border-radius: 50px;
    transition: 500ms ease all;
}
.projects h3:hover{
	background-color: #ff1;
	color: #000;
	cursor: pointer;
	transition: 500ms ease all;
}
.nutshell{
	width: 100%;
	background-color: #000;
	opacity: 0.97;
	z-index: 1;
	height: 115vh;
}
.nutshell ul{
	margin: 0;
	padding: 0;
    height: 100%;
}
.nutshell li{
	list-style-type: none;
	display: inline-block;
	width: 33.3%;
    margin: 0;
	float: left;
	height: 50vh;
    overflow: hidden;
    position: relative;
}
.nutshell li img{
    object-fit: cover;
    width: 100%;
    opacity: 0.6;
    position: absolute;
    transition: 500ms ease all;
}
.nutshell li img:hover{
	opacity: 0.4;
	transition: 500ms ease all;
}
.nutshell li span{
	position: absolute;
	font-size: 2vw;
	font-weight: 600;
	top:45%;
    width: 100%;
    text-align: center;
    height: 1px;
    color: #ff9;
}
.reachable{
	background-color: #000;
	opacity: 0.97;
	text-align: center;
	height: 270px;
	padding: 2% 10%;
	padding-top: 0%
}
.reachable h2{
	margin: 0;
}
.reachable ul{
	margin: 0;
	padding: 3% 0%;
	text-align: center;
}
.reachable li{
	list-style-type: none;
	display: inline-block;
	margin: 2% 5%;
	transition: 300ms ease;
}
.reachable li:hover{
 	cursor: pointer;
 	transition: 300ms ease;
 	transform: scale(1.3);
}
.desktop-footer{
	background-color: #000;
	text-align: center;
    color: #ff1;
    font-weight: bold;
    font-size: 1vw;
}
.desktop-footer p{
	margin: 0;
	padding: 2% 0;
}



/*********BELOW BEGINS THE ABOUT ME PAGE *********/

.profile{
    text-align: center;
    padding: 8% 8% 1% 8%;
    background-color: #000;
    color: #fff;
    height: auto;
}
.profile-img{
	width: 200px;
	height: 200px;
	overflow: hidden;
	position: relative;
	border-radius: 100px;
    float: left;
    shape-outside: circle(50%);
    margin: 3%;
}
.profile-img img{
	width: 100%;
	object-fit: cover;
}
.profile .about{
	font-size: 1em;
}
.profile .about a{
	font-weight: bold;
	border-bottom: 1px solid #000;
}
.profile-footer{
	color: #fff;
	background-color: #000;
	margin:0;
	padding:0;
	text-align: center;
}
.profile-footer ul{
	padding: 0;
	margin: 0;
	width: 100%;
}
.profile-footer li{
	list-style-type: none;
	display: inline-block;
    padding: 0 3%;
    font-weight: 600;
}
.profile-footer li:hover{
	color: #ff1;
}





/*********BELOW BEGINS THE AESTHETICS PAGE *********/












/*********BELOW BEGINS THE TRAVEL PAGE *********/

.content .travel-intro{
	text-align: center;
	margin: 38vh auto;
}
.travel-footer{
	width: 100%;
	background-color: #000;
	text-align: center;
	height: 5vh;
	font-weight: 600;
	z-index: 1000;
	font-size: 10px;
}
.mask .travel-intro{
	top: 38vh;
    position: absolute;
    font-size: 1.5vw;
    left: 0vw;
    text-align: center;
    padding: 0 10%;
}
.works .block{
	display: inline-block;
    background-color: #030202;
    border-radius: 10px;
    overflow: hidden;
	opacity: 1;
	margin: 20% 0 0 0;
}
.works .block .img-holder{
	width: 100%;
	height: 200px;
	overflow: hidden;
}
.works .block .img-holder img{
	width: 100%;
	height: 120%;
	object-fit: cover;
}
.works .block p span{
	color: #6efff8;
	font-weight: 600;
}
.works .block  p a{
	font-size: 10px;
	color: #6efff8;
	font-weight: bold;
}
.places{
	background-color: #1f1d1d;
	padding: 3% 10% 1% 10%;
	position: relative;
}
.places h2{
	margin: 0;
	padding: 2% 0;
	text-align: center;
}
.places .block{
	/*z-index: 1000;*/
	width: 30%;
    display: inline-block;
    margin: 0% 1% 5% 2%;
    background-color: #030202;
    border-radius: 10px;
    overflow: hidden;
	opacity: 0.7;
	transition: 500ms ease all;
}
.places .block:hover{
	opacity: 0.9;
	transition: 500ms ease all;
	box-shadow: 0px 1px 2px 2px #030202;
}
.places .block .img-holder{
	width: 100%;
	height: 200px;
	overflow: hidden;
}
.places .block .img-holder img{
	width: 100%;
	height: 120%;
	object-fit: cover;
	z-index: -1
}
.places .block p{
	padding: 0 5%;
}
.places .block p span{
	color: #6efff8;
	font-weight: 600;
}
.places .block  p a{
	font-size: 1vw;
	font-weight: bold;
	transition: 1s ease all;
}
.places .block  p a:hover{
	color: #6efff8;
	transition: 1s ease all;
}

/*********BELOW BEGINS THE CONSULTANCY PAGE *********/




/*********BELOW BEGINS THE ANIMATION PAGE *********/





/*********BELOW BEGINS THE RANT PAGE *********/

.keys{
	display: flex;
	top: 0;
	right: 10vh;
	position: absolute;
}
.key{
	border: 3px solid #333;
	border-radius: 20px;
	color: #fff;
	width: 70px;
	padding: 1% 2%;
	margin: 1%;
	text-align: center;
	font-size: 24px;
	font-weight: 600;
	text-shadow: 0 0 5px #000;
	background: rgba(0, 0, 0, 0.4);
	transition: all 0.07s;
	cursor: pointer;
	opacity:0.4;
}
.sound{
	color: #ffc600;
	font-weight: 600;
	font-size: 14px;
}
.playing{
	border-color: #ffc600;
	box-shadow: 0 0 10px #ffc600;
	opacity: 1;
}
.wrap .mask .rants{
    top: 38vh;
    position: absolute;
    font-size: 2vw;
    left: 15vw;
}
.wrap .mask .rants h2{
	margin: 0;
}
.wrap .mask .rants h3{
	font-size: 1.5vw;
}
.wrap .mask .rants span{
	font-size: 1.5vw;
	margin: 0;
	color: yellow;
	font-weight: 600;
}
.posts{
	background-color: #000;
}
.posts ul{
	margin:0;
	padding: 2% 15%;
}
.posts li{
	list-style-type: none;
	margin-bottom: 8%;
	margin-right: 4.5%;
    width: 45%;
    display: inline-block;
}
.posts li h2{
	line-height: 2;
}
.posts li label{
    border-left: 3px solid yellow;
    padding-left: 10px;
}
.posts .long{
	width: 100%;
}



body::-webkit-scrollbar {
    width: 0.2em;
  	opacity: 0;  
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
    background-color: #111;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #000;
  outline: 1px solid #000;
  border-radius: 5px;
}
@media only screen and (max-width: 768px) {
	.mobile{
		display: block;
	}
	.desktop{
		display: none;
	}
}
@media only screen and (min-width: 768px) {
	.mobile{
		display: none;
	}
	.desktop{
		display: block;
	}
}